.background{
  background-image: url('./image/homepage.avif');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.heading{
  padding-left: 200px;
  padding-top: 120px;
}

.body{
  background-image: url('./image/bodyimage.avif');
  background-size: cover;
  background-repeat: repeat-y;
  width: 100vw;
  height: 100vh;
}